OurApp/pkgs/Wadl/ASDocument.ManageDivision.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ASDocument.ManageDivision" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="ASDocument.ManageDivision" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <number name="ManualTriggerInput_number_def" />
      <string name="ManualTriggerInput_text_def" />
      <number name="ManualTriggerInput_number_1_def" />
      <object name="ManualTriggerInput">
        <property name="number" type="number" />
        <property name="text" type="string" />
        <property name="number_1" type="number" />
      </object>
      <string name="ResponseActionOutput_status_def" />
      <object name="ResponseActionOutput">
        <property name="status" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="number" path="/number" type="xs:double" required="true">
              <doc title="companyID" />
            </param>
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="divisionList" />
            </param>
            <param style="plain" name="number_1" path="/number_1" type="xs:double" required="true">
              <doc title="condition" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>