OurApp/pkgs/Wadl/ASDocument.DocumentSign.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ASDocument.DocumentSign" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="ASDocument.DocumentSign" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_file_def_name_def" />
      <base64Binary name="ManualTriggerInput_file_def_contentBytes_def" />
      <object name="ManualTriggerInput_file_def">
        <property name="name" type="string" />
        <property name="contentBytes" typeRef="ManualTriggerInput_file_def_contentBytes_def" />
      </object>
      <string name="ManualTriggerInput_file_1_def_name_def" />
      <base64Binary name="ManualTriggerInput_file_1_def_contentBytes_def" />
      <object name="ManualTriggerInput_file_1_def">
        <property name="name" type="string" />
        <property name="contentBytes" typeRef="ManualTriggerInput_file_1_def_contentBytes_def" />
      </object>
      <number name="ManualTriggerInput_number_def" />
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <number name="ManualTriggerInput_number_1_def" />
      <number name="ManualTriggerInput_number_2_def" />
      <object name="ManualTriggerInput">
        <property name="file" typeRef="ManualTriggerInput_file_def" />
        <property name="file_1" typeRef="ManualTriggerInput_file_1_def" />
        <property name="number" type="number" />
        <property name="text" type="string" />
        <property name="text_2" type="string" />
        <property name="number_1" type="number" />
        <property name="number_2" type="number" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="file" path="/file" type="service:ManualTriggerInput_file_def">
              <doc title="pdfDocuments" />
            </param>
            <param style="plain" name="file_1" path="/file_1" type="service:ManualTriggerInput_file_1_def">
              <doc title="imageSigned" />
            </param>
            <param style="plain" name="number" path="/number" type="xs:double" required="true">
              <doc title="condition" />
            </param>
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Input" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="documentID" />
            </param>
            <param style="plain" name="number_1" path="/number_1" type="xs:double" required="true">
              <doc title="requestID" />
            </param>
            <param style="plain" name="number_2" path="/number_2" type="xs:double" required="true">
              <doc title="signNumber" />
            </param>
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>